# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenvs
venv/
.venv/
env/

# Environment
.env
.env.*
google_maps_api_key.txt

# Database
*.sqlite
*.sqlite3


# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.slnx.sqlite

# OS
.DS_Store
Thumbs.db

# Keys / certs
*.pem
*.key
