{% extends 'admin/_base.html' %}
{% block title %}{{ "Edit" if pot else "New" }} Pot{% endblock %}

{% block content %}
<section class="card hero" style="margin-bottom:20px;">
    <div>
        <h1>{{ "Edit" if pot else "New" }} Pot</h1>
    </div>
    <div class="card hero-panel">
        <a class="button-link button-secondary" href="{{ url_for('admin.pots') }}">Back to pots</a>
    </div>
</section>

<section class="card">
    <form method="post" class="form">
        <div class="input-group">
            <label>Size (mm)</label>
            <input type="number" name="size" value="{{ pot.size if pot else '' }}" required>
        </div>
        <div>
            <button type="submit">{{ "Save" if pot else "Create" }}</button>
        </div>
    </form>
</section>
{% endblock %}
