<!DOCTYPE html>>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Little Jill's Plant Nursery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include '_header.html' %}

        <div class="boxcon">
  <h2 class="titleprof">My Profile</h2>

  <img class="pfp" src="" alt="Profile Picture">

  <div class="info"><span class="label">First Name:</span> John</div>
  <div class="info"><span class="label">Last Name:</span> Doe</div>
  <div class="info"><span class="label">Email:</span> john@example.com</div>
  <div class="info"><span class="label">Phone:</span> 0400 000 000</div>

  <button class="about-btn">About</button>
  <button class="logout-btn">Logout</button>
</div>

    </body>
</html>
