<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile | Little Jill's Plant Nursery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% include '_header.html' %}

<div class="boxcon">
  <h2 class="titleprof">My Profile</h2>

            <div class="info"><span class="label">Full Name:</span> {{ current_user.full_name }}</div>
            <div class="info"><span class="label">Email:</span> {{ current_user.email }}</div>

            <form action="{{ url_for('logout') }}" method="POST" style="margin-top: 20px;">
                <button type="submit" class="logout-btn">Logout</button> 
                <button type="button" class="ordersbtn">My Orders</button>
            </form>
        </div>

    </body>
</html>
